.five
{
 width: 100%;
 min-height: 250px;
 border-top-left-radius: 125px;
 background:rgb(210, 194, 176);  
 display: flex;
}

.foto
{

}

.box1 h2
{
 font-size: 2vw;
 text-transform: uppercase;  
 color: #1f1f24;
}

.emprestimo
{
 width: 100%;
 height: 50vh;
 display: flex;
 
}

.emprestimo h1
{
 font-size: 2vw;
 text-transform: uppercase;
 color: rgb(210, 194, 176);
}

.but
{
 text-align: center
}