* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: black;
    color: white;
    height: 56px;
    padding: 0 48px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    font-size: 18px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    grid-row: 1/2;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 36px;
    grid-column: 1/2;
}

.lista-header {
    display: flex;
    gap: 40px;
    grid-column: 2/3;
    margin: 0 40px;
}

.lista-header a {
    color: white;
}

.icone-login {
    grid-column: 3/4;
    justify-self: flex-end;
    color: white;
    display: flex;
    align-items: center;
}

.icone-login img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.lista-header a:hover {
    color: #d2c2b0;
}

.icone-login:hover {
    color: #d2c2b0;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .lista-header {
        display: none;
    }
}

/* CARTAO */

.cartao {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.60)), url(./img/periferia-fundo.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
}

.texto-section-1 {
    color: white;
    grid-column: 4 / 14;
    grid-row: 13 / 19;
    letter-spacing: -0.03em;
    font-size: 30px;
}

.botao-arrasta {
    background-color: #ffffff;
    grid-column: 22/30;
    grid-row: 9 / 24;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.8px;
}

.cifrao-texto {
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: -2.4px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.cifrao {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#rangeValue {
    position: relative;
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

.slider {
    width: 300px;
    height: 14px;
    -webkit-appearance: none;
    background-color: #d2d2d2;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 40px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 40%;
    background: #e91f61;
    cursor: pointer;
    border: 4px solid #e91f61;
    box-shadow: -407px 0 0 400px #000;
}

#btn-simule {
    background-color: #e91f61;
    color: white;
    padding: 13px 90px;
    border-radius: 20px;
    border: none;
}

/* QUEM SOMOS */

.quem-somos {
    background-color: white;
    height: 5000px;
    width: 100%;
}